name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: mkdir -p path/to/artifact
    - run: echo hello > path/to/artifact/world.txt
    - uses: actions/upload-artifact@v2
      with:
        path: path/to/artifact/world.txt
    - name: Trigger repository dispatch
      uses: peter-evans/repository-dispatch@v1
      with:
        event-type: artifact-creation
        client-payload: '{"ref": "${{ github.ref }}", "run_id": "${{ github.run_id }}"}'
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
