on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  upload:
    name: Upload
    steps:
    - uses: actions/checkout@v2
    - run: mkdir -p path/to/artifact
    - run: echo hello > path/to/artifact/world.txt
    - uses: actions/upload-artifact@v2
      with:
        path: path/to/artifact/world.txt

